/* ===== ESTILO BASE ===== */
body {
  font-family: "Poppins", sans-serif;
  background-color: #0b132b;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; /* sin scroll vertical ni horizontal */
}
